<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="resources/images/favicon.jpg?v2" rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- carusel -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
    <!-- carusel -->
    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- https://codepen.io/jlccaires/pen/jyrVNQ -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/dependencyLibs/inputmask.dependencyLib.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.numeric.extensions.min.js"></script> -->
    <!-- inputmask v2 -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>

    <link rel="stylesheet" href="resources/styles/common.css?v1"/>
    <title>Небо - строительная компания</title>
	
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T9GWHX2');</script>
    <!-- End Google Tag Manager -->

</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9GWHX2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="wrapper" id="app">

        <div class="header">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between flex-columnG flex-md-rowG">
                    <a href="/">
                        <img src="resources/images/logo.png" alt="" class="header-image"/>
                    </a>
                    <div class="d-none d-xl-flex">
                        <div 
                        class="header-link" 
                        v-for="item in menu"
                        @click="scrollTo(item.scrollToClass)">{{item.title}}</div>
                    </div>
                    <div class="mt-3G mt-md-0G text-center text-md-right">
                        <div class="fs-12 color-gray1">без выходных 8:00 - 22:00</div>
                        <div class="ff-sfsm my-1 my-md-0 header-phone">
                            <a href="tel:+74951045553" class="color-black">+7 (495) 104-55-53</a>
                        </div>
                        <div 
                            class="header-button"
                            data-toggle="modal" 
                            data-target="#modalCall"
                        >Заказать звонок</div>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="!formData.sent">

            <div class="begin">
                <div class="container">
                    <div class="mb-3 text-center d-md-none">
                        <div class="ff-sfh fs-20 mb-2">
                            Ремонт квартир от <span class="color-blue">2 490</span> руб./м<sup>2</sup>
                        </div>
                        <div>
                            Сделаем ремонт в обозначенный срок или вернем деньги
                        </div>
                    </div>
                    <div class="row flex-column-reverse flex-md-row">
                        <div class="col-md-6 mb-4 mb-md-0 pt-lg-5">
                            <div class="ff-sfh fs-50 lh-2 d-none d-md-block">
                                <div>Ремонт квартир</div>
                                <div>
                                    от <span class="color-blue">2 490</span>
                                    <span class="begin-m2">руб./м<sup>2</sup></span>
                                </div>
                            </div>
                            <div class="ff-sfsm fs-24 my-4 my-lg-5 d-none d-md-block">
                                Сделаем ремонт в обозначенный<br/>
                                срок или вернем деньги
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-4" v-for="(item, index) in begin">
                                    <div class="begin-item">
                                        <div class="begin-item__image">
                                            <img :src="'resources/images/begin/begin_' + (index + 1) + '.png'" alt=""/>
                                        </div>
                                        <div class="begin-item__text" v-html="item.title"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="calculator">
                                <div class="ff-sfb fs-28 lh-2 mb-4 d-none d-md-block">
                                    Рассчитайте стоимость ремонта
                                </div>
                                <div class="ff-sfb fs-20 lh-2 mb-4 d-md-none">
                                    Рассчитайте стоимость ремонта
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6 mb-2 mb-lg-0">Что нужно отремонтировать</div>
                                    <div class="col-lg-6 d-flex align-items-end">
                                        <select v-model="calcModels.select.vp">    
                                            <option v-for="item in calcDictionary.vp" :value="item.code">{{item.title}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6 mb-2 mb-lg-0">Вид ремонта</div>
                                    <div class="col-lg-6">
                                        <select v-model="calcModels.select.vr">    
                                            <option v-for="item in calcDictionary.vr" :value="item.code">{{item.title}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6 mb-2 mb-lg-0">Тип помещения</div>
                                    <div class="col-lg-6">
                                        <select v-model="calcModels.select.tn">    
                                            <option v-for="item in calcDictionary.tn" :value="item.code">{{item.title}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-xl-5 mb-2 mb-xl-0">Площадь помещения</div>
                                    <div class="col-xl-7">
                                        <div class="form-row">
                                            <div class="col-5 col-lg-4 calculator-value text-center d-flex">
                                                <input type="text" 
                                                @keypress="onlyNumber" 
                                                v-model="calcModels.area"/>
                                                <div>
                                                    <span>м<sup><small>2</small></sup></span>
                                                </div>
                                            </div>
                                            <div class="col pl-2">
                                                <input type="range" min="1" max="200" v-model="calcModels.area" class="slider w-100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6 mb-2 mb-lg-0">Срок работ</div>
                                    <div class="col-md-6 calculator-value">{{datesResult}}</div>
                                </div>   
                                <hr class="my-4 d-none d-lg-block"/>  
                                <div class="row mb-4">
                                    <div class="col-xl-6 d-flex align-items-end mb-2 mb-lg-0">Введите ваш телефон</div>
                                    <div class="col-xl-6">
                                        <input 
                                            type="text" class="phone-masked"
                                            placeholder="+7 (_ _ _)  _ _ _ - _ _ - _ _"
                                        />
                                    </div>
                                </div>
                                <div class="button-animation" @click="sendForm('calc')">
                                    <span>Рассчитать</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="friends">
                <div class="container">
                    <!-- {{formData}} -->
                    <div class="friends-block">                    
                        <div class="friends-block__left">
                            <div class="friends-block__title">
                                Пригласите<br/> 
                                сметчика сегодня
                            </div>
                            <div class="mb-4 mb-lg-0">
                                Заполните форму и уже сегодня приедет<br/> 
                                сметчик-замерщик, за 20 минут составит смету прямо<br/> 
                                на объекте и даст рекомендации по ремонту<br/>
                            </div>
                        </div>
                        <div class="friends-block__right">
                            <div class="mb-3">
                                <input type="text" placeholder="Имя" class="name" 
                                v-model="formData.name"/>
                            </div>
                            <div class="mb-4">
                                <input type="text" placeholder="Телефон" class="phone phone-masked"/>
                            </div>
                            <div>
                                <!-- <div class="button-blue w-100"
                                @click="sendForm('smetchik')">Пригласить</div> -->
                                <div class="button-animation w-100" @click="sendForm('smetchik')">
                                    <span>Пригласить</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="color-gray2 fs-14 text-center mt-4">
                        Я даю свое согласие на обработку 
                        <a href="resources/docs/policy.pdf" class="color-gray2" target="_blank"><u>персональных данных.</u></a>
                    </div>
                </div>
            </div>

            <div class="prices">
                <div class="container">
                    <h2 class="ff-sfh mb-4">
                        Ценовая политика<br/>
                        фиксированна и неизменна
                    </h2>
                    <div class="d-none d-md-flex mb-5">
                        <div class="mr-3">
                            <div 
                            @click="pricesType = 'complex'"
                            class="button-line"
                            :class="{'button-line-selected': pricesType == 'complex'}">Комплексные услуги</div>
                        </div>
                        <div>
                            <div 
                            @click="pricesType = 'another'"
                            class="button-line"
                            :class="{'button-line-selected': pricesType == 'another'}"
                            >Цены на отдельные виды работ</div>
                        </div>
                    </div>
                    <div class="row" v-if="pricesType == 'complex'">
                        <div class="prices-remont col-md-6 col-lg-3 mb-4" v-for="remont in prices.complex">
                            <h4 class="mb-4" v-html="remont.title"></h4>
                            <div class="prices-remont__list mb-3">
                                <div 
                                class="mb-1 line-dot color-gray1"
                                v-for="item in remont.items"
                                v-html="item"></div>
                            </div>
                            <div v-html="remont.price"></div>
                            <div class="py-3">
                                <!-- <div class="button-blue w-100 px-2 prices-remont__button" 
                                @click="modalOpen('zamershik')">Вызвать замерщика</div> -->
                                <div class="button-animation w-100 prices-remont__button" @click="modalOpen('zamershik')">
                                    <span>Вызвать замерщика</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-else>
                        <div class="col-md-6 col-lg-3 mb-4" v-for="another in prices.another">
                            <div class="fs-18" v-html="another.title"></div>
                            <div class="ff-sfh" v-html="another.price"></div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-4">
                            <!-- <div class="button-blue w-100" @click="modalOpen('price')">Получить прайс</div> -->
                            <div class="button-animation w-100" @click="modalOpen('price')">
                                <span>Получить прайс</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="profitable">
                <div class="container">
                    <h2 class="ff-sfh mb-4 text-center text-md-left">Выгодная рассрочка</h2>
                    <div class="d-md-flex align-items-center mb-4">
                        <div class="mr-5">
                            <div class="profitable-percent">0%</div>
                        </div>
                        <div class="pl-md-5">
                            <div 
                                class="profitable-item" 
                                v-for="item in profitable"
                                v-html="item"
                            ></div>
                        </div>
                    </div>
                    <div>
                        <!-- <div class="button-white"
                        @click="modalOpen('rassrochka')"
                        >Оставить заявку на рассрочку</div> -->
                        <div class="button-animation" @click="modalOpen('rassrochka')">
                            <span>Оставить заявку на рассрочку</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="control">
                <div class="container">
                    <div class="text-center mb-5">
                        <h2 class="ff-sfh mb-3">Многоуровневый контроль качества</h2>
                        <div class="color-gray1 fs-14">Ваш объект контролируют:</div>
                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <div 
                            class="control-item d-flex align-items-center d-lg-block mb-3 mb-lg-0"
                            v-for="(item, index) in control"
                        >
                            <div class="mb-md-2 mr-3 mr-lg-0 control-item__image">
                                <img :src="'resources/images/control/control_' + (index + 1) + '.jpg'" alt=""/>
                            </div>
                            <div>
                                <div class="mb-2 ff-sfb fs-18 lh-2" v-html="item.title"></div>
                                <div class="color-gray1 fs-14" v-html="item.description"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="order">
                <div class="container">
                    <div class="order-block">
                        <div class="order-form">
                            <div class="fs-35 ff-sfb mb-3">Закажите дизайн-проект</div>
                            <div class="mb-4">
                                <div class="line-dot">Выезд и консультация дизайнера бесплатно</div>
                                <div class="line-dot">Подбор материалов под ваш бюджет</div>
                                <div class="line-dot">Скидка на ремонт при заказе дизайна</div>
                                <div class="line-dot">Экономия бюджета и времени</div>
                            </div>
                            <div class="d-md-flex mb-4">
                                <div class="mr-0 mb-3 mr-md-3 mb-md-0">
                                    <input type="text" placeholder="Имя" class="name" 
                                    v-model="formData.name"/>
                                </div>
                                <div>
                                    <input type="text" placeholder="Телефон" class="phone phone-masked"/>
                                </div>
                            </div>
                            <div>
                                <!-- <div class="button-blue" @click="sendForm('design')">Заказать</div> -->
                                <div class="button-animation" @click="sendForm('design')">
                                    <span>Заказать</span>
                                </div>

                            </div>
                        </div>
                        <div class="order-carousel d-none d-lg-block">
                            <div class="owl-carousel">
                                <div class="item" v-for="item in 9">
                                    <!-- <img :src="'resources/images/design/'+ item +'.jpg'"/> -->
                                    <img class="owl-lazy"
                                    :data-src="'resources/images/design/'+ item +'.jpg'"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="color-gray2 fs-14 text-center mt-4">
                        Я даю свое согласие на обработку 
                        <a href="resources/docs/policy.pdf" class="color-gray2" target="_blank"><u>персональных данных.</u></a>
                    </div>
                </div>
            </div>

            <div class="masters">
                <div class="container container-mini">
                    <div class="d-flex align-items-center justify-content-between">
                        <img src="resources/images/masters.jpg" alt="" class="d-none d-lg-block ml-lg-5"/>
                        <div>
                            <h2 class="ff-sfb mb-4">Строгий подбор мастеров</h2>
                            <div
                                class="line-dot mb-2" 
                                v-for="item in masters" 
                                v-html="item"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="materials">
                <div class="container container-mini">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="pl-lg-5">
                            <h2 class="ff-sfb mb-4">Черновые материалы</h2>
                            <div
                                class="line-dot mb-2" 
                                v-for="item in materials" 
                                v-html="item"
                            ></div>
                        </div>
                        <img src="resources/images/materials.png" alt="" class="d-none d-lg-block"/>
                    </div>
                </div>
            </div>

            <div class="examples">
                <div class="container position-relative">
                    <div class="d-md-flex justify-content-between">
                        <div>
                            <h2 class="mb-4 ff-sfh text-center text-md-left">Примеры наших работ</h2>
                            <div class="examples-carousel">
                                <div class="owl-carousel">
                                    <div class="item"
                                    v-for="(item, index) in examples">
                                        <!-- <img :src="'resources/images/examples/examples_' + ( index + 1 ) + '.jpg'"/> -->
                                        <img class="owl-lazy"
                                        :data-src="'resources/images/examples/examples_' + ( index + 1 ) + '.jpg'"
                                        alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="examples-block">
                            <div class="fs-18 ff-sfb" v-html="examplesCurrent.title"></div>
                            <div class="my-4">
                                <div class="ff-sfb mb-2">Работы:</div>
                                <div class="mb-1 fs-14" 
                                v-for="item in examplesCurrent.items" 
                                v-html="item"></div>
                            </div>
                            <div class="fs-14">
                                <div class="mb-2" v-if="examplesCurrent.dates">
                                    <span class="ff-sfb">Срок:</span>
                                    <span v-html="examplesCurrent.dates"></span>
                                </div>
                                <span class="ff-sfb">Стоимость работ:</span>
                                <span v-html="examplesCurrent.price"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="principles">
                <div class="container">
                    <h2 class="text-center mb-5 ff-sfh">Принципы нашей работы</h2>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-3 mb-md-5" v-for="(item, index) in principles">
                            <div class="d-flex align-items-center principles-item">
                                <div class="principles-item__image">
                                    <img :src="'resources/images/principles/principles_' + (index + 1) + '.png'" alt=""/>
                                </div>
                                <div v-html="item"></div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center ff-sfb">
                        Все это позволяет нам удерживать лидирующие позиции на рынке<br/> 
                        Москвы. Нет ни одной компании готовой предоставить подобные<br/> 
                        гарантии и отчетность по свои услугам.
                    </div>
                </div>
            </div>

            <div class="certificates">
                <div class="container">
                    <div class="d-xl-flex align-items-center justify-content-between">
                        <div class="mb-3 mb-xl-0 text-center text-md-left">
                            <h2 class="ff-sfh mb-4">
                                Сертификаты<br/>
                                и лицензии
                            </h2>
                            <div class="certificates-link"
                            @click="modalCarouselCertificatesOpen()">Смотреть все сертификаты</div>
                        </div>
                        <div class="certificates-images d-flex align-items-center">
                            <div class="certificates-image" @click="modalCarouselCertificatesOpen(0)">
                                <img src="resources/images/certificates/1.png"/>
                            </div>
                            <div class="certificates-image d-none d-lg-block" @click="modalCarouselCertificatesOpen(1)">
                                <img src="resources/images/certificates/2.png" style="height: 330px"/>
                            </div>
                            <div class="certificates-image d-none d-lg-block" @click="modalCarouselCertificatesOpen(2)">
                                <img src="resources/images/certificates/3.png" style="height: 300px"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="scheme">
                <div class="container container-mini scheme-container">
                    <h2 class="text-center mb-3 mb-md-5 ff-sfh">Схема нашей работы</h2>
                    <div class="scheme-items text-center text-md-left">
                        <div
                            class="scheme-item"
                            v-for="(item, index) in scheme"
                        >
                            <div class="scheme-item__number">{{'0' + (index + 1)}}</div>
                            <div v-html="item"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="discounts">
                <div class="container">
                    <h2 class="mb-4 ff-sfh text-center text-md-left">Акции</h2>
                    <div class="discounts-slider">
                        <div class="owl-carousel discounts-carousel">
                            <div class="item" v-for="(item, index) in discounts">
                                <div class="discounts-item">
                                    <div class="discounts-item__image">
                                        <!-- <img :src="'resources/images/discounts/discounts_' + (index + 1) + '.png'" alt=""/> -->
                                        <img class="owl-lazy" 
                                        :data-src="'resources/images/discounts/discounts_' + (index + 1) + '.png'" alt=""/>
                                    </div>
                                    <div>
                                        <h3 class="mb-4" v-html="item.title"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="sendok" v-if="formData.sent">
            <div class="container">
                
                <div class="row" 
                v-if="formData.id == 'call' || formData.id == 'calc' || formData.id == 'rassrochka' ||
                formData.id == 'smetchik' || formData.id == 'rasschet' ||
                formData.id == 'zamershik' || formData.id == 'price'">
                    <div class="col-md-6 d-flex align-items-center mb-4 mb-md-0">
                        <div class="pl-0 pl-md-5" v-if="formData.id != 'calc'">  
                            <h2 class="mb-3 ff-sfh">Благодарим за обращение!</h2>
                            <div>
                                <div class="mb-3">
                                    Наш специалист перезвонит Вам, чтобы дать конультацию по ремонту и ответить на Ваши вопросы.
                                </div>    
                                <div class="mb-3">
                                    Также Вы сможете заказать консультацию инженера-сметчика - он ответит на все вопросы, 
                                    проведет замеры, составит точную смету и подарит брошюру с практическими советами по ремонту.
                                </div> 
                                <div>
                                    Его консультация бесплатная и не обязывает вас к ремонту.
                                </div>
                            </div>
                        </div>

                        <!-- <div class="pl-0 pl-md-5" v-if="formData.id == 'calc'">
                            <div v-if="priceResult > 0">
                                <h2 class="mb-3 ff-sfh">
                                    Стоимость ремонта составит 
                                    от <span class="color-blue">{{priceResult.toLocaleString()}} руб.</span>
                                </h2>
                                <div class="mb-4 color-gray1 fs-14">
                                    *Это ориетировочная стоимость.<br/> 
                                    Точные расчеты можно составить только при выезде на объект.
                                </div>
                                <div class="mb-4 ff-sfsm">
                                    <div class="d-flex" v-if="datesResult">
                                        <div>Срок ремонта:</div>
                                        <div class="color-blue ml-2 ff-sfb">{{datesResult}}</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                Наш специалист перезвонит вам, чтобы сориентировать по стоимости точнее. 
                                Также вы сможете заказать консультацию инженера-сметчика - он ответит на все вопросы, 
                                проведет замеры, составит точную смету и подарит брошюру с практическими советами по ремонту. 
                                Его консультация бесплатная и не обязывает вас к ремонту.
                            </div>
                        </div> -->
                        <div class="pl-0 pl-md-5" v-if="formData.id == 'calc'">
                            <div v-if="priceResult > 0">
                                <h4 class="mb-3 ff-sfh">
                                    <div class="color-blue mb-2">Спасибо! Заявка успешно отправлена!</div>
                                    <div>Наш специалист перезвонит Вам в ближайшее время.</div>
                                </h4>
                            </div>
                            <div class="mb-4">
                                <div class="sendok-line">Рассчитаем примерную стоимость ремонта и ответим на все интересующие Вас вопросы.</div> 
                                <div class="sendok-line">Бесплатно назначим выезд замерщика.</div>
                                <div class="sendok-line">Инженер-сметчик произведет замеры и составит бесплатно точную смету объекта.</div> 
                                <div class="sendok-line">Проконсультируем по материалам, этапам ремонта и подскажем на чем можно сэкономить без ущерба качеству.</div>
                            </div>
                            <div class="ff-sfsm">
                                Выезд замерщика осуществляется 
                                <span class="color-blue">за наш счет<br/>и не обязывает Вас к ремонту.</span>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center text-center">
                        <div>
                            <img src="resources/images/sendok_1.png" alt=""class="mb-3"/>
                            <div class="fs-14 color-gray1">Руководитель сметно-договорного отдела:</div>
                            <div class="ff-sfb">Добролюбов Антон Александрович</div>  
                        </div>
                    </div>
                </div>

                <div class="row" 
                v-if="formData.id == 'design'">
                    <div class="col-md-6 d-flex align-items-center mb-4 mb-md-0">
                        <div class="pl-0 pl-md-5">  
                            <h2 class="mb-3 ff-sfh">Благодарим за обращение!</h2>
                            <div>
                                Наш специалист перезвонит Вам, чтобы дать конультацию по ремонту и дизайну, а также назначить вам бесплатную встречу с нашим дизайнером.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center text-center">
                        <div>
                            <img src="resources/images/sendok_2.png" alt=""class="mb-3"/>
                            <div class="fs-14 color-gray1">Руководитель отдела дизайна:</div>
                            <div class="ff-sfb">Екатерина Нам</div>  
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-center"
                v-if="formData.id == 'person'">
                    <img src="resources/images/sendok_3.png" alt="">
                    <div class="ml-5">
                        <h2 class="mb-3 ff-sfh">Благодарим за обращение!</h2>
                        <div>
                            Мы ознакомимся с Вашим письмом и в ближайшее время с<br/>
                            Вами свяжется ответственный сотрудник.
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="reviews">
            <div class="container">
                <div class="text-center">
                    <h2 class="mb-3 ff-sfh">Отзывы из инстаграм</h2>
                    <div class="ff-sfb">
                        Больше отзывов Вы можете увидеть в нашем инстаграм аккаунте - 
                        <span class="pl-1">
                            <img src="resources/images/reviews/insta.png"/>
                            <a href="https://www.instagram.com/sk.nebo/" 
                            target="_blank"
                            class="color-blue">sk.nebo.</a>
                        </span>
                        <br/>
                        На каждом из отзывов указан автор, Вы можете написать ему лично и подтвердить<br/> 
                        достоверность отзыва.  Наши заказчики об этом осведомлены.<br/>
                    </div>
                </div>
                <div class="owl-carousel reviews-insta-carousel mb-5">
                    <div class="item" v-for="(item, index) in 29">
                        <img class="owl-lazy"
                        @click="modalCarouselInstaOpen(index)"
                        :data-src="'resources/images/reviews/insta/small/' + item + '.jpg'"/>
                    </div> 
                </div>
                <h2 class="text-center mb-4 ff-sfh">Видеоотзывы</h2>
                <!-- https://www.youtube.com/watch?v=Ki1h903vY1E&list=PLGczu_bs0qGbmZDz9G6czfxndBcZ4CCGv -->
                <div class="owl-carousel reviews-video-carousel">
                    <div class="item"
                    v-for="(item, index) in reviewsVideo"
                    @click="modalVideoOpen(item)">
                        <div class="reviews-video">
                            <!-- <img :src="'resources/images/reviews/video/' + (index + 1) + '.jpg'" alt=""/> -->
                            <img class="owl-lazy"
                            :data-src="'resources/images/reviews/video/' + (index + 1) + '.jpg'" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="!formData.sent">

            <div class="open">
                <div class="container">
                    <h2 class="mb-5 ff-sfh">Мы открыты для вас</h2>
                    <div class="row">
                        <div class="col-lg-6 mb-5" v-for="(item, index) in open">
                            <div class="open-item">
                                <img :src="'resources/images/open/open_' + (index + 1) + '.png'" alt="" class="open-item__image"/>
                                <div class="open-item__head">
                                    <div class="ff-sfb" v-html="item.name"></div>
                                    <div class="color-gray2 fs-14 mb-2" v-html="item.position"></div>
                                    <div class="ff-sfb color-blue cp"
                                    @click="modalOpen('person', item)">Написать</div>
                                </div>
                                <div class="fs-14">
                                    <div class="mb-4">
                                        <div class="ff-sfb">Обязанности:</div>
                                        <div class="line-dot" v-for="dutieItem in item.duties" v-html="dutieItem"></div>
                                    </div>
                                    <div>
                                        <div class="ff-sfb">Достижения:</div>
                                        <div class="line-dot" v-for="progressItem in item.progress" v-html="progressItem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="calc">
                <div class="container">
                    <div class="calc-block">
                        <div class="calc-block__left">
                            <div class="calc-block__title">
                                Получите расчет<br/>
                                прямо сейчас
                            </div>
                            <div class="mb-4">
                                Заполните форму и получите расчет стоимости<br/> 
                                Вашего ремонта прямо сейчас
                            </div>
                            <div class="color-gray2 fs-14">
                                Я даю согласие на обработку
                                <a href="resources/docs/policy.pdf" class="color-gray2" target="_blank"><u>персональных данных</u></a>
                            </div>
                        </div>
                        <div class="calc-block__right">
                            <div class="mb-3">
                                <input type="text" placeholder="Имя" class="name" 
                                v-model="formData.name"/>
                            </div>
                            <div class="mb-4">
                                <input type="text" placeholder="Телефон" class="phone phone-masked"/>
                            </div>
                            <div>
                                <!-- <div class="button-blue w-100"
                                @click="sendForm('rasschet')">Отправить</div> -->
                                <div class="button-animation w-100" @click="sendForm('rasschet')">
                                    <span>Отправить</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="map"></div>

        </div>

        <div class="footer">
            <div class="container">
                <div class="d-lg-flex justify-content-between text-center text-lg-left">
                    <div>
                        <div class="ff-sfh fs-20 footer-phone">
                            <a href="tel:+74951045553" class="color-black">+7 (495) 104-55-53</a>
                        </div>
                    </div>
                    <div>
                        <div class="fs-18 text-center footer-location">
                            г. Москва, Одесская улица, 2кС,<br/>
                            БЦ "Лотос", 19 этаж
                        </div>
                    </div>
                    <div>
                        <div class="ff-sfh fs-22 footer-email">info@sknebo.ru</div>
                    </div>
                </div>
                <div class="d-flex justify-content-center my-3 my-lg-5">
                    <a href="https://www.instagram.com/sk.nebo/" target="_blank" class="mx-2">
                        <img src="resources/images/social_in.png" alt=""/>
                    </a>
                    <a href="https://www.youtube.com/channel/UCxPWX5tsha-uCVKqkEYUdGQ" target="_blank" class="mx-2">
                        <img src="resources/images/social_yt.png" alt=""/>
                    </a>
                </div>
                <div class="d-lg-flex justify-content-between text-center text-lg-left fs-12 color-gray2">
                    <div>ООО «Строительная компания НЕБО»</div>
                    <div>ИНН: 9718124680, ОГРН: 1197746024442</div>
                    <div>
                        <a href="resources/docs/policy.pdf" class="color-gray2" target="_blank"><u>Политика конфиденциальности</u></a>
                    </div>
                    <div>Сайт не является публичной офертой и носит информационный характер.</div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalCall">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content modal-call">
                    <!-- <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> -->
                    <div class="modal-close" data-dismiss="modal">&times;</div>
                    <div class="modal-body">
                        <div class="modal-call__title">
                            Перезвоним в течение 3-х минут, бесплатно проконсультируем
                        </div>
                        <div class="modal-call__form"> 
                            <div class="mb-3">
                                <input type="text" placeholder="Имя" class="name" 
                                v-model="formData.name"/>
                            </div>
                            <div class="mb-5">
                                <input type="text" placeholder="Телефон" class="phone phone-masked"/>
                            </div>
                            <div class="mb-4">
                                <!-- <div class="button-blue w-100"
                                @click="sendForm('call')">Получить консультацию</div> -->
                                <div class="button-animation w-100" @click="sendForm('call')">
                                    <span>Отправить</span>
                                </div>

                            </div>
                        </div>
                        <div class="color-gray2 fs-14">
                            Я даю согласие на обработку
                            <a href="resources/docs/policy.pdf" class="color-gray2" target="_blank"><u>персональных данных</u></a>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalEmployee">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content modal-employee">
                    <div class="modal-close" data-dismiss="modal">&times;</div>
                    <div class="modal-body">
                        <div class="modal-employee__title">
                            Написать сотруднику
                        </div>
                        <div class="modal-employee__form"> 
                            <div class="mb-3">
                                <textarea rows="3" placeholder="Текст письма" v-model="formData.message"></textarea>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6 mb-3">
                                    <input type="text" placeholder="Имя" class="name" 
                                    v-model="formData.name"/>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" placeholder="Телефон" class="phone phone-masked"/>
                                </div>
                            </div>
                            <div class="mb-4">
                                <!-- <div class="button-blue"
                                @click="sendForm('person')">Отправить</div> -->
                                <div class="button-animation" @click="sendForm('person')">
                                    <span>Отправить</span>
                                </div>
                            </div>
                        </div>
                        <div class="color-gray2 fs-14">
                            Я даю согласие на обработку
                            <a href="resources/docs/policy.pdf" class="color-gray2" target="_blank"><u>персональных данных</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalCommonForm">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content modal-employee">
                    <div class="modal-close" data-dismiss="modal">&times;</div>
                    <div class="modal-body">
                        <div class="modal-employee__title" 
                        v-html="forms[formData.id]"></div>
                        <div class="modal-employee__form"> 
                            <div class="row mb-3">
                                <div class="col-md-6 mb-3">
                                    <input type="text" :placeholder="formData.id == 'price' ? 'Почта' : 'Имя'" class="name" 
                                    v-model="formData.name"/>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" placeholder="Телефон" class="phone phone-masked"/>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="button-blue"
                                @click="sendForm(formData.id)">Отправить</div>
                            </div>
                        </div>
                        <div class="color-gray2 fs-14">
                            Я даю согласие на обработку
                            <a href="resources/docs/policy.pdf" class="color-gray2" target="_blank"><u>персональных данных</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalVideo">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content modal-video">
                    <div class="modal-close" data-dismiss="modal">&times;</div>
                    <!-- <div class="modal-close" @click="modalVideoClose()">&times;</div> -->
                    <div class="modal-body p-0">
                        <iframe class="w-100" style="height: 500px" src=""  
                        allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalImage">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content modal-image">
                    <div class="modal-close" data-dismiss="modal">&times;</div>
                    <div class="modal-body p-2G py-3">
                        <img src="" class="w-100G"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalCarouselCertificates">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content modal-carousel">
                    <div class="modal-close" data-dismiss="modal">&times;</div>
                    <div class="modal-body py-3">
                        <div class="owl-carousel">
                            <div class="item" v-for="item in certificates">
                                <img :src="'resources/images/' + item"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalCarouselInsta">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content modal-carousel">
                    <div class="modal-close" data-dismiss="modal">&times;</div>
                    <div class="modal-body py-3">
                        <div class="owl-carousel">
                            <div class="item" v-for="item in 29">
                                <img class="owl-lazy"
                                :data-src="'resources/images/reviews/insta/big/' + item + '.jpg'"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script src="/resources/js/common.js?v1"></script>

    <script>
        function YandexSubmitEvents(code) {
            switch (code) {
                case 'calc':
                // Рассчет стоимости ремонта
                    // gtag('event', 'send_form_event', { 'event_category' : 'send_form_category', 'event_label' : 'send_form_label' });
                    dataLayer.push({'event': 'calc'});
					fbq('track', 'Lead');
					yaCounter52208992.reachGoal('send_form'); return true;
                break;
                case 'call':
                // Заявка на звонок
                    // gtag('event', 'send_form_event', { 'event_category' : 'send_form_category', 'event_label' : 'send_form_label' });
                    dataLayer.push({'event': 'call'});
					fbq('track', 'Lead');
					yaCounter52208992.reachGoal('send_form'); return true;
                break;
                case 'smetchik':
                // Пригласите сметчика сегодня
                    // gtag('event', 'send_form_event', { 'event_category' : 'send_form_category', 'event_label' : 'send_form_label' });
                    dataLayer.push({'event': 'smetchik'});
					fbq('track', 'Lead');
					yaCounter52208992.reachGoal('send_form'); return true;
                break;
                case 'rasschet':
                // Получите расчет прямо сейчас
                    // gtag('event', 'send_form_event', { 'event_category' : 'send_form_category', 'event_label' : 'send_form_label' });
                    dataLayer.push({'event': 'rasschet'});
					fbq('track', 'Lead');
					yaCounter52208992.reachGoal('send_form'); return true;
                break;
                case 'zamershik':
                // Заявка на вызов замерщика
                    // gtag('event', 'send_form_event', { 'event_category' : 'send_form_category', 'event_label' : 'send_form_label' });
                    dataLayer.push({'event': 'zamershik'});
					fbq('track', 'Lead');
					yaCounter52208992.reachGoal('send_form'); return true;
                break;
                case 'price':
                // Заявка на прайс-лист
                    // gtag('event', 'send_form_event', { 'event_category' : 'send_form_category', 'event_label' : 'send_form_label' });
                    dataLayer.push({'event': 'price'});
					fbq('track', 'Lead');
					yaCounter52208992.reachGoal('send_form'); return true;
                break;
                case 'rassrochka':
                // Заявка на рассрочку
                    // gtag('event', 'send_form_event', { 'event_category' : 'send_form_category', 'event_label' : 'send_form_label' });
                    dataLayer.push({'event': 'rassrochka'});
					fbq('track', 'Lead');
					yaCounter52208992.reachGoal('send_form'); return true;
                break;
                case 'design':
                // Закажите дизайн-проект
                    // gtag('event', 'send_form_event', { 'event_category' : 'send_form_category', 'event_label' : 'send_form_label' });
                    dataLayer.push({'event': 'design'});
					fbq('track', 'Lead');
					yaCounter52208992.reachGoal('send_form'); return true;
                break;
                case 'person':
                // Написать сотруднику
                    dataLayer.push({'event': 'person'});
					fbq('track', 'Lead');
					yaCounter52208992.reachGoal('send_form'); return true;
                break;
            }  
        }
    </script>

    <!-- calltouch -->
    <script src="https://mod.calltouch.ru/init.js?id=osxvo2mz"></script>
    <!-- /calltouch -->

</body>
</html>